<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="pageContent">

		<h:form id="formPrincipal">
			<p:panel header="Clientes">

				<p:outputPanel id="panelCliente">

					<p:panelGrid columns="2" styleClass="ui-noborder">
						<p:outputLabel for="idCliente" value="Código:" />
						<p:inputText id="idCliente" readonly="true" disabled="true" value="#{formClienteManager.clienteDTO.idCliente}" />

						<p:outputLabel for="nomeCliente" value="Nome:" />
						<p:inputText id="nomeCliente" value="#{formClienteManager.clienteDTO.nome}" />

						<p:outputLabel for="dataNascimento" value="Data Nascimento:" />
						<p:calendar id="dataNascimento" pattern="dd/MM/yyyy" value="#{formClienteManager.clienteDTO.dataNascimento}">
							<p:ajax process="@this" />
						</p:calendar>

					</p:panelGrid>
				</p:outputPanel>

				<p:commandButton id="botaoNovo" value="Novo"   actionListener="#{formClienteManager.novoCliente()}"  update=":formPrincipal :formTabelaCliente"/>
				<p:commandButton id="botaoSalvar" value="Salvar" actionListener="#{formClienteManager.salvarCliente()}" update=":formTabelaCliente"/>
				<p:commandButton id="botaoExcluir" value="Excluir" actionListener="#{formClienteManager.excluirCliente()}" update=":formPrincipal :formTabelaCliente" />

			</p:panel>
		</h:form>
		
		<h:form id="formTabelaCliente">
			<p:dataTable id="dataTableCliente" var="cliente"
				rowKey="#{cliente.idCliente}" selectionMode="single"
				selection="#{formClienteManager.clienteDTO}"
				value="#{formClienteManager.listaClientes}">

				<p:ajax event="rowSelect" process="@this" update=":formPrincipal:panelCliente" />
				<p:ajax event="rowUnselect" process="@this" update=":formPrincipal:panelCliente" />

				<p:column headerText="Código">
					<h:outputText value="#{cliente.idCliente}" />
				</p:column>

				<p:column headerText="Nome">
					<h:outputText value="#{cliente.nome}" />
				</p:column>

				<p:column headerText="Nome">
					<h:outputText value="#{cliente.dataNascimento}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>
</html>