<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template.xhtml">
	<ui:param name="hideMenuTemplate" value="true" />
	<ui:define name="pageContent">
		<link rel="stylesheet" href="resources/css/login.css" />

		<h:form id="formPrincipal">
			<p:spacer height="50px" />
			<p:panel header="Login" styleClass="panelLoginCentralizado">

				<p:panelGrid columns="2" styleClass="ui-noborder">
					<p:outputLabel for="loginUsuario" value="Usuário:" />
					<p:inputText id="loginUsuario" value="#{formLoginManager.usuario.login}"/>
					<p:outputLabel for="senhaUsuario" value="Senha:" />
					<p:password id="senhaUsuario" value="#{formLoginManager.usuario.senha}"/>
				</p:panelGrid>
				<p:commandButton id="efetuarLogin" value="Entrar"
				   actionListener="#{formLoginManager.efetuarLogin()}" style="margin: auto"/>

			</p:panel>
		</h:form>

	</ui:define>
</ui:composition>
</html>