<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="resources/css/primefaces-template.css" />
	<div id="cabecalho-emplate-id">
		<div id="cabecalho-template-titulo">
			<a href="index.xhtml" style="color: black; text-decoration: none">Venda Rápida</a>
		</div>
		<img id="cabecalho-template-titulo-image" src="resources/images/header-menu.png" />
	</div>
</h:head>
<h:body>
	<!-- para esconder o menu -->
	<!-- <ui:param name="hideMenuTemplate" value="true" /> -->
	<h:form id="formTeplate" prependId="false">
		<h:panelGroup id="idMenuHeaderTemplate" layout="block" rendered="#{not hideMenuTemplate}">
			<p:menubar id="menuBarTemplate" model="#{menuModelController.menuModel}" autoDisplay="false">
			</p:menubar>
		</h:panelGroup>
		<p:growl id="notification" life="3000" />
	</h:form>
	<ui:insert name="pageContent" />

</h:body>
</html>
