@charset "UTF-8";

.ui-widget, .ui-widget .ui-widget {
	font-size: 15px !important;
}

#cabecalho-emplate-id {
	background-color: #efefef;
	width: 100%;
	height: 90px;
	margin: 0;
}

#cabecalho-template-titulo {
	font-family: Helvetica, sans-serif;
	margin: 0 0 10px;
	font-size: 50px;
	padding: 15px;
}

#cabecalho-template-titulo-image {
	width: 80px;
	position: absolute;
	top: 15px;
	right: 20px;
}